.header{
  height: 80px;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: white;
}
.header-title{
  font-size: 25px;
  margin-left: 30px;
  color: black;
  line-height: 70px;
}
.header-nav ul{
  display: flex;
}
.header-nav li{
  margin-right: 30px;
}
.header-nav a{
  color: black;
  text-decoration: none;
}


#eyecatch{
  height: 600px;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#eyecatch h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 38px;
  color: white;
}
#eyecatch p{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: white;
}

.management-philosophy{
  height: 320px;
  background-color: black;
  overflow: hidden;
}
.management-philosophy h1,p{
  color: white;
}
.management-philosophy h1{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 30%;
  left: 10%;
}
.management-philosophy p{
  position: relative;
  top: 40%;
  left: 10%;
  width: 80%;
  max-width: 100%;
}


.service{
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}
.service-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}
.service-up{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.service-down{
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.service-img{
  width: 100%;
  object-fit: cover;
}
.service-4,
.service-3,
.service-2,
.service-1{
  margin: 30px;
  width: 100%;
}
.service h2{
  font-size: 20px;
  margin: 10px;
}
.service p{
  color: black;
}
.service-button{
  padding: 15px 50px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: red;
  text-align: center;
  position: absolute;
  left: 30%;
  width: 30%;
}

.news{
  background-color: black;
  height: 400px;
}
.news-title{
  color: white;
  font-size: 30px;
  padding-top: 100px;
  margin-left: 200px;
}
.news-button{
  font-size: 14px;
  text-decoration: none;
  background-color: red;
  text-align: center;
  position: relative;
  right: 235px;
  top: 100px;
  padding: 5px 10px;
  border: none;
}
.news-button a{
  color: white;
  text-decoration: none;
}
.news-top{
  display: flex;
  justify-content: space-between;
}
.news-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 200px;
  color: black;
}
.news-topic{
  color: black;
  text-align: center;
  line-height: 40px;
}
.news-day{
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}
.news-1,
.news-2,
.news-3{
  display: flex;
  background-color: white;
  margin: 5px;
  padding: 5px;
  width: 80%;
  color: black;
  height: 40px;
}



.blog{
  height: 500px;
  width: 100%;
}
.blog-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
}
.blog-wrap{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  
}
.blog-img{
  object-fit: cover;
  width: 100%;
}
.blog-a,
.blog-b,
.blog-c{
  margin-right: 30px;
  margin-top: 20px;
}
.blog h3{
  color: gray;
}
.blog p{
  color: black;
  font-size: 16px;
  padding-top: 10px;
  font-weight: bolder;
}
.blog-button-wrap{
  width: 100%;
  text-align: center;
}
.blog-button{
  padding: 15px 80px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: red;
  position: relative;
  top: 100px;
}


.about-recruit{
  display: flex;
  width: 100%;
  height: 250px;
}
.about{
  width: 50%;
  background-color: red;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 250px;
}
.about a,
.recruit a{
  color: white;
  text-decoration: none;
}
.recruit{
  width: 50%;
  background-color: black;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 250px;
}


.form{
  width: 100%;
  margin-top: 100px;
  background-color:#F5F6F9;
  height: 300px;
}
.form-title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  margin-top: 100px;
  position: relative;
  top: 30%;
}
.form-subtitle{
  text-align: center;
  font-size: 16px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
  position: relative;
  top: 30%;
  color: black;
}
.form-button-wrap{
  width: 100%;
  text-align: center;
}
.form-button{
  padding: 15px 80px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color: red;
  position: relative;
  top: 100px;
}

.footer{
  height: 50px;
}
.footer-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 50px;
  background-color: black;
}
.footer-logo{
  font-size: 14px;
  margin-left: 80px;
  color:white;
}
.footer-nav ul{
  display: flex;
  margin-right: 100px;
}
.footer-nav li{
  margin-right: 10px;
  font-size: 12px;
}
.footer-nav li:not(:first-child)::before{
  content: "|";
  color: white;
  padding-right: 10px;
}
.footer-nav a{
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 768px){
  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 10px;
    transition: 0.4s;
  }
  
  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: black;
    transition: 0.8s;
  }
  
  #hamburger span:nth-of-type(1) {
    top: 10px; /* ハンバーガーメニューの1本目の棒 */
  }
  
  #hamburger span:nth-of-type(2) {
    top: 20px; /* ハンバーガーメニューの2本目の棒 */
  }
  
  #hamburger span:nth-of-type(3) {
    top: 30px; /* ハンバーガーメニューの3本目の棒 */
  }
  
  .header-nav {
    display: none; /* デスクトップのナビを消す */
  }

  .header-wrap{
    width: 100%;
  }
  .header-title{
    margin: 0;
  }

  

  .eyecatch-title{
    width: 100%;
  }
  .eyecatch-subtitle{
    width: 100%;
  }

  .management-philosophy{
    width: 100%;
    height: 400px;
  }

  .service-up,
  .service-down{
    flex-wrap: wrap;
  }
  .service-1,
  .service-2,
  .service-3,
  .service-4{
    width: 80%;
    margin: 0 auto;
  }
  .service-button{
    margin: 0 auto;
  }

  .news{
    width: 100%;
  }
  .news-top{
    width: 100%;
  }
  
  .news-title,
  .news-button{
    position: static;
    padding: 0;
    margin: 50px 10px;
  }
  .news-wrap{
    width: 100%;
    margin: 0;
  }
  .news-title{
    font-size: 24px;
  }
  .news-topic,
  .news-day{
    font-size: 14px;
  }

  .blog-wrap{
    flex-wrap: wrap;
  }
  .blog-a,
  .blog-b,
  .blog-c{
    width: 80%;
    margin: 0 auto;
  }
  .blog-button-wrap{
    width: 100%;
    position: static;
  }
  

  .about-recruit{
    width: 100%;
    margin-top: 500px;
    position: static;
  }

  .form{
    width: 100%;
  }

  .footer{
    width: 100%;
  }
  .footer-nav ul{
    display: block;
    width: 100%;
  }
  
  .footer-wrap{
    width: 100%;
    flex-wrap: wrap;
  }
  

  .footer-nav li:not(:first-child)::before{
    content: none;
  }
  
  .footer-logo{
    width: 100%;
  }
  .footer-logo h1{
    margin: 0 auto;
    width: 100%;
  }
  
  .footer-wrap li{
    position: relative;
    left: 50%;
  }

  
}


